<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
		
	<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"><section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" /></sectionGroup><section name="jurassic.coffee" type="JurassicCoffee.Web.Configuration.ConfigurationHandler, JurassicCoffee" /></configSections>

	<razor disableAutoIncludeModelNamespace="false">
		<assemblies>
			<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<add assembly="Nancy" />
			<add assembly="ThumbsUp.Demo.Nancy" />
		</assemblies>
		<namespaces>
			<add namespace="Nancy" />
			<add namespace="ThumbsUp.Demo.Nancy" />
		</namespaces>
	</razor>

	<system.web>
		<compilation debug="true" targetFramework="4.5">
			
		<buildProviders><add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" /><add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" /></buildProviders></compilation>
		<httpRuntime targetFramework="4.5" />
		
	<httpHandlers><add type="JurassicCoffee.Web.JurassicCoffeeHttpHandler,JurassicCoffee" validate="false" path="*.coffee" verb="*" /></httpHandlers></system.web>

	<appSettings>
		
		<add key="ThumbsUp.Service.Uri" value="http://localhost:8081/" />
		<add key="ThumbsUp.Application.Id" value="c2dea897-a53b-41d7-825f-356d340973d3" />
		<add key="GmailAccount" value="thumbsupauthentication@gmail.com" />
		<add key="GmailPassword" value="slevdEY3o9Q8" />
	<add key="webPages:Enabled" value="false" /></appSettings>

		
	
<system.web.webPages.razor><pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase"><namespaces><add namespace="Nancy.ViewEngines.Razor" /></namespaces></pages></system.web.webPages.razor><jurassic.coffee><EnableCompression>true</EnableCompression><CompiledDirectory>compiled-coffee</CompiledDirectory><DebugMode>false</DebugMode></jurassic.coffee><system.webServer><handlers><add name="JurassicCoffeeHttpHandler" type="JurassicCoffee.Web.JurassicCoffeeHttpHandler,JurassicCoffee" path="*.coffee" verb="*" /></handlers></system.webServer></configuration>
