<div id="application-register-modal" class="modal hide fade" tabindex="-1" role="dialog">
	<form id="application-register-form" action="/application/register" class="form-horizontal" method="POST">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="application-register-modal-label">Create New Application</h3>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label label-left" for="name">Name</label>
				<div class="controls">
					<input class="input-xlarge span4" type="text" id="name" name="name" placeholder="Name" required>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary submit" id="application-register-submit">Create</button>
		</div>
	</form>
</div>

