<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://localhost:8080;Database=ThumbsUp" />
  </connectionStrings>
	<appSettings>
		<add key="ThumbsUp.Service.Uri" value="http://localhost:8081/" />
		<add key="ThumbsUp.Application.Id" value="ac8dfe73-4cc2-409c-99bc-36e738f6e29c" />
	<add key="webPages:Enabled" value="false" /></appSettings>	
<system.web.webPages.razor><pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase"><namespaces><add namespace="Nancy.ViewEngines.Razor" /></namespaces></pages></system.web.webPages.razor></configuration>