<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://localhost:8080;Database=ThumbsUp" />
  </connectionStrings>
	<appSettings>
		<add key="Service.Url" value="http://localhost:8081/" />
		<add key="ThumbsUp.Application.Id" value="ac8dfe73-4cc2-409c-99bc-36e738f6e29c" />
		<add key="ThumbsUp.SlidingExpiration.Minutes" value="10" />
		<add key="ThumbsUp.PasswordCharacters.Count" value="12" />
		<add key="ThumbsUp.ForgotPassword.TimeLimit.Minutes" value="120" />
	</appSettings>	
</configuration>