<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  
	<appSettings>
		<add key="ThumbsUp.Service.Url" value="http://localhost:8081/" />
		<add key="ThumbsUp.SlidingExpiration.Minutes" value="10" />
		<add key="ThumbsUp.PasswordCharacters.Count" value="12" />
		<add key="ThumbsUp.ForgotPassword.TimeLimit.Minutes" value="120" />		
	</appSettings>	
  <runtime>	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">	
          <dependentAssembly>	
              <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />	
              <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />	
          </dependentAssembly>	
      </assemblyBinding>	
  </runtime>
</configuration>