@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "_Master.cshtml";
}


	<div class="span4 offset4 well" style="padding-top: 20px;">
		@if (ViewBag.HasMessage)
  {
		<div class="alert @(ViewBag.Success ? "alert-success" : "alert-error")">@ViewBag.Message</div>
  }	
		@if (!ViewBag.HasMessage || !ViewBag.Success)
  {
		<div style="margin-bottom:10px">Please use your original username and email address</div>
		<form method="post">
			<input type="text" name="username" class="span4" placeholder="Username">
			<input type="text" name="email" class="span4" placeholder="Email">
			<div class="text-center" style="padding-top: 10px;">
				<input type="submit" class="btn btn-primary pull-left" value="Request New Password" />
			</div>
		</form>
  }
	</div>

