@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "_Master.cshtml";
}


	<div class="span4 offset4 well" style="padding-top: 20px;">

		@if (ViewBag.HasMessage)
  {
			<div class="alert @(ViewBag.Success ? "alert-success" : "alert-error")">@ViewBag.Message</div>
			@if (ViewBag.Success)
   {
<h1>@ViewBag.NewPassword</h1>
<div style="margin-bottom: 10px">Take a copy of this password and use it to sign in</div>
<a href="/login" class="btn btn-primary">Sign In</a>
   }
  }

		@if (!ViewBag.HasMessage || !ViewBag.Success)
  {
			<div style="margin-bottom: 10px">Please use your original username</div>
			<form method="post">
				<input type="text" name="username" class="span4" placeholder="Username">
				<div class="text-center" style="padding-top: 10px;">
					<input type="submit" class="btn btn-primary pull-left" value="Generate Password" />
				</div>
			</form>
  }
	</div>

